body
{
    text-align: center;
    margin:0;
	padding:0;
}
header
{
    text-align: right;
	padding: 20px;
	margin: auto;
    background-color: black;
}
.nav-bar
{
    background-color: black;
    text-align: left;
    padding: 20px;
    margin: auto;
}
nav a
{
    color:white;
    text-decoration: none;
    padding: 10px;
}
.div-tag
{
    background-color:slategrey;
    text-align: center;
	margin:auto;
    padding: 80px;
}
.clip-circle
{
    clip-path: circle();
    width:150px;
    height:150px;
}
h1,h3
{
    color: black;
}
footer
{
    background-color:black;
    padding: 5px ;
    margin: auto;
}
p
{
    color: white;
}
.sign-page
{
    text-align:left;
	margin: 6px;
	padding: 5px;
	text-decoration:underline;
	color:blue;
	display: inline-block;
}